<article class="id">
  <div class="title">
    <a href="{{ id }}" target="_blank">{{title}}</a>
    <span>({{ initial_message }})</span>
  </div>
  <div class="meta">
    {{favorite_count}} by {{user.username}} on {{created_at}}
    |
    <a href="/post/{{id}}">{{post.length}} </a>
  </div>
</article>