<article class="id">
  <div class="title">
    <a href="{{ id }}" target="_blank">{{title}}</a>
    <span>{{ initial_message }}</span>
  </div>
  <div class="meta">
    {{favorite_count}} by {{user_id}} on {{created_at}}
    |
    {{!-- <a href="/post/{{id}}">{{post_text}} </a> --}}
  </div>
</article>