<article>
  <a href="/forum-edit"> &larr; Back to dashboard</a>
  <h2>
    Edit Forum
  </h2>
  <form class="forum-edit-form">
    <div>
      <input name="title" type="text" value="{{ title }}" />
      <span>{{ initial_message }}</span>
    </div>
    <div>
      {{ favorite }} by you on {{ created_at }}
      
      {{!-- <a href="/forum/{{ post.id }}"></a> --}}
    </div>
    <button type="submit">Save Forum</button>
    <button type="button" class="delete-forum-btn">Delete Forum</button>
  </form>
</article>

<form class="forum-form">
  <div>
    <textarea name="forum-body"></textarea>
  </div>
  
  <div>
    <button type="submit">Add Post</button>
  </div>
</form>

{{> forum-info }}

<script src="/forum-edit.js"></script>
<script src="/forum-delete.js"></script>